.jobs-page-container {
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.jobs-container {
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jobs-search-container {
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
}
.search-input {
  height: 100%;
  width: 80%;
  background-color: transparent;
  padding: 5px;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
}
.search-icon-container {
  background-color: #202020;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.search-icon {
  color: #ffffff;
  font-size: 20px;
}
.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}
.no-jobs-para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}
.no-jobs-img {
  height: 300px;
  margin-top: 50px;
}
.failure-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 575px) {
  .jobs-page-container {
    display: flex;
    flex-direction: column;
  }
  .jobs-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jobs-search-container {
    width: 100%;
  }
  .no-jobs-img {
    height: 150px;
  }
  .no-jobs-heading {
    font-size: 20px;
  }
  .no-jobs-para {
    font-size: 12px;
  }
}
